.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

html, body {
	height: 100%;
  background: #95BA41;
  color: white;
}

button {
  border-radius: 3px;
  background: #D0EB4D;
  border: 2px solid #D0EB4D;
}

button:hover {
  border: 2px solid #2C4019;
}

#question-template { display: none;}

.choice { margin-left: 15px; }

.blades .content { display :none; }

.blades.active { width: 58%; }

.blades.active .content { display: block;}

.blades {
	display: block;
  float: left;
	min-height: 100%;
	width: 10%;
  padding: 10px;
}

.survey-link {
  color: white;
}

#take-surveys {
	background-color: #2C4019;
}

#profile {
	background-color: #658A2C;
}

#your-surveys {
	background-color: #5A772F;
}

#stats {
	background-color: #95BA41;
}

#question {
  margin-top: 20px;
}

.container#splash_page {
  background-image: url('../flizzard_vs_gorilla.jpg');
  width: 800px;
  height: 600px;
  padding: 0px;
  position: relative;
  text-align: left;
  border: none;
  font-family: 'impact', sans-serif;
  color: #a0a0b0;
}

#splash_page h1 {
  position: absolute; left: 20px;
}

.login_forms {
  position: absolute; left: 20px; bottom: 20px;
}

form.signin input[type=email], form.signin input[type=password] {
  width: 237.5px;
}

form.signin input[type=submit] {
  width: 63px;
}

#confirmation {
  color: #ffffff;
}



