.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

html, body {
	height: 100%;
}

.blades .content {
  display :none;
}

.blades.active {
	width: 67%;
}

.blades.active .content { display: block;}

.blades {
	display: block;
  float: left;
	min-height: 100%;
	width: 10%;
}

#take-surveys {
	background-color: blue;
}

#profile {
	background-color: red;
}

#your-surveys {
	background-color: green;
}

#stats {
	background-color: purple;
}

.container#splash_page {
  background-image: url('../flizzard_vs_gorilla.jpg');
  width: 800px;
  height: 600px;
  padding: 0px;
  position: relative;
  text-align: left;
  border: none;
  font-family: 'impact', sans-serif;
}

#splash_page h1 {
  color: #a0a0b0;
  position: absolute; left: 20px;
}

.login_forms {
  position: absolute; left: 20px; bottom: 20px;
}

form.signin input[type=email], form.signin input[type=password] {
  width: 237.5px;
}

form.signin input[type=submit] {
  width: 63px;
}



