<div class="your-survey-content">
	<input name="survey[title]" placeholder="Survey Title">
	<div class="More Questions">
		<button class="add">Add Question</button>
	</div>

	<div class="question-list">

	</div>

	<!-- start of template -->
	<div id="question-template" style="display: none;">
		<div class="question">
			<input name="survey[questions][][question]">
			<input name="survey[questions][][choices][][choice]">
  		<input name="survey[questions][][choices][][choice]">
  		<input name="survey[questions][][choices][][choice]">
  		<input name="survey[questions][][choices][][choice]">

		</div>
	</div>
	<!-- end of template -->
	<form>

	</form>
</div>