<div class="your-survey-content">
	<input name="survey[title]" placeholder="Survey Title">
	<div class="more-questions">
		<button class="add">Add Question</button>
	</div>


	<form>
		<div class="question-list">

		</div>
		<button>Create Survey!</button>

		<div id="question-template">
				<div class="question">
					<input class="question-name" name="survey[questions][][question]" placeholder="Question Name">
					<input class="choice" name="survey[questions][][choices][][choice]" placeholder="Choice #1">
					<input class="choice" name="survey[questions][][choices][][choice]" placeholder="Choice #2">
					<input class="choice" name="survey[questions][][choices][][choice]" placeholder="Choice #3">
					<input class="choice" name="survey[questions][][choices][][choice]" placeholder="Choice #4">
				</div>
			</div>
	</form>
	

	
</div>