<h2>Welcome<%= @user %></h2>

<div id="user-surveys-answered">
<h3>Here are the surveys you have answered: </h3>

</div>

<div id="user-surveys-created">
<h3>Here are the surveys you have created: </h3>

</div>
