<div id="blade-1" class="blades">
	blade-1
</div>

<div id="blade-2" class="blades active">
	blade-2
</div>

<div id="blade-3" class="blades">
	blade-3
</div>

<div id="blade-4" class="blades">
	blade-4
</div>
