<div id="take-surveys" class="blades">
	<h3>Take Surveys</h3>
	<div class="content">

	<%= erb :"partials/_take_surveys" %>
	</div>
</div>

<div id="profile" class="blades active">
	<h3>User Profile</h3>
	<div class="content">

	<%= erb :"partials/_profile" %>
	</div>
</div>

<div id="your-surveys" class="blades">
	<h3>Your Surveys</h3>
	<div class="content">

	<%= erb :"partials/_your_surveys" %>
	</div>
</div>

<div id="stats" class="blades">
	<h3>Stats</h3>
	<div class="content">

	<%= erb :"partials/_stats" %>
	</div>
</div>
