<div class="container" id='splash_page'>
  <h1>Welcome to Survey Gorilla Shack</h1>
  <h2>A survey site that WON'T make you sick and kill you</h2>

</form id='signin' action='signin' method='post'>
  <p><input type='email' name='email' placeholder='email'></p>
  <p><input type='password' name='password' placeholder='password'></p>
  <input type='submit' value='sign in'>
</form>

</form id='signup' action='signup' method='post'>
  <p><input type='email' name='email' placeholder='email'></p>
  <p><input type='text' name='username' placeholder='username'></p>
  <p><input type='password' name='password' placeholder='password'></p>
  <input type='submit' value='sign up'>
</form>


</div>
