<div class='container' id='splash_page'>
  <h1>Welcome to Survey Flizzard</h1>
  <div class='login_forms'>
    <p id='confirmation'></p>
    <form class='signin' action='signin' method='post'>
      <input type='email' name='email' placeholder='email'>
      <input type='password' name='password' placeholder='password'>
      <input type='submit' value='sign in'>
    </form>
    <br>
    <form class='signup' action='signup' method='post'>
      <input type='email' name='email' placeholder='email'>
      <input type='text' name='username' placeholder='username'>
      <input type='password' name='password' placeholder='password'>
      <input type='submit' value='sign up'>
    </form>
  </div>
</div>

